<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435559272094-s1kjh660t83eb8a1gbdq1c2p9vat7g0c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435559272094-s1kjh660t83eb8a1gbdq1c2p9vat7g0c</string>
	<key>API_KEY</key>
	<string>AIzaSyAKcd7bE0IMAAR_LukPlvB--WO6MT3xBQo</string>
	<key>GCM_SENDER_ID</key>
	<string>435559272094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartvoice.celebritychat</string>
	<key>PROJECT_ID</key>
	<string>celebrity-chat-6dfde</string>
	<key>STORAGE_BUCKET</key>
	<string>celebrity-chat-6dfde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435559272094:ios:dfa09e4a163ae2d98ef58f</string>
</dict>
</plist>